.App {
	padding: 0 20px;
	text-align: center;
	display: flex;
	justify-content: center;
}

body {
	background-color: #252525;
	color: #fff;
}

.override-controls {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.override-control {
	padding: 10px 0;
	align-items: start;
	text-align: left;
}

.patch-buttons {
	padding: 25px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}

button {
	max-width: 200px;
	width: 200px;
	padding: 10px;
	margin: 5px;
	border: none;
	border-radius: 2px;
}

.button-play {
	background-color: rgb(
		228,
		228,
		228
	); /* Color when the motif is not playing */
	color: #252525; /* Trgb(209, 159, 159) color */
}

.button-stop {
	background-color: rgb(198, 85, 85); /* Color when the motif is playing */
	color: white; /* Text color */
}
